$background-image: url("img/Gold_foil_background.jpg");
$background-color: #55885A;
$secondary-color: white;
$hover-color: #E29C9C;
$text-align-center: center;

/* links */

$unvisited-link-color: #E3D39C;
$visited-link-color: #9CE1E2;
$active-link-color: blue;


/* end of scss */

* {
  box-sizing: border-box;
}

body {
  background-image: $background-image;
  background-color: $background-color;
  font-family: 'Roboto', sans-serif;
  text-align: $text-align-center;
  line-height: 0.5;
}


/* --------GRID WORK ---------*/
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

.grid-container {
  display: grid;
}

.grid__item {
  line-height: 1.25em;
  margin: 10px;
}

.grid-item-text p {
  font-size: 12px;
}
/*-----------TRANSITION WORK----------- */
a {
  transition-property: font-size;
  transition-duration: 2s;
}

/* unvisited link */
a:link {
  color: $unvisited-link-color;
}

/* visited link */
a:visited {
  color: $visited-link-color;
}

/* mouse over link */
a:hover {
  color: $hover-color;
  font-size: 36px;
}

/* selected link */
a:active {
  color: $active-link-color;
}

.about-me-table {
  background-color: $secondary-color;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
  margin-left: 300px;
  margin-right: 300px;
}

.about-me-text {
  line-height: 2.5em;
  background-color: $secondary-color;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 100px;
  padding-left: 25px;
  padding-right: 25px;
}

.brand-logo {
  height: 225px;
  width: 225px;
  position: fixed;
  top: 0;
  left: 0;
}
/* -----------BUTTONS-----------*/
button.contact-send-button {
  background: #E3D39C;
  color: $secondary-color;
  font-family: Sans-serif;
  font-size: 20px;
  height: 40px;
  width: 100px;
  text-align: $text-align-center;
  border: 0;
  transition: all 0.3s ease 0s;
  transition-property: font-size;
  transition-duration: 1s;
}

button.button {
  font-size: 36px;
}

button.button {
  background: #E3D39C;
  color: $secondary-color;
  font-family: Sans-serif;
  font-size: 20px;
  height: 40px;
  width: 100px;
  margin: 20px;
  text-align: $text-align-center;
  border: 0;
  transition: all 0.3s ease 0s;
  transition-property: font-size;
  transition-duration: 1s;
}

button.contact-send-button:hover {
  font-size: 36px;
}

.contact-form {
  color: $secondary-color;
  font-family: 'Roboto', sans-serif;
}

.contact-me {
  color: $secondary-color;
}

.download_cv {
  margin: 10px;
}

.image-Briana-Singh {
  height: 250px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* ---------------ANIMATIONS------------- */
@keyframes color-change {
  from {
    fill: #edc655;
  }
  to {
    fill: #f76414;
  }
}

.index-bg {
  opacity: 0.85;
}

.sun color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
/* ------------------END OF ANIMATIONS--------------------- */
.linked-in {
  height: 30px;
  width: 30px;
}

.main {
  background-color: $secondary-color;
  margin-top: 75px;
  margin-left: 250px;
  margin-right: 250px;
  padding-bottom: 25px;
}

.name {
  display: block;
  font-weight: bold;
  text-align: $text-align-center;
}

.nav-bar {
  background-color: #55885A;
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  text-align: $text-align-center;
  margin-top: 80px;
  color: $secondary-color;
}

.nav-bar li {
  list-style-type: none;
  color: $secondary-color;
}

.socials {
  font-size: smaller;
  color: $secondary-color;
}

.footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: $text-align-center;
}
